/* Your code here */
ul {
    flex-wrap: wrap;
    display: flex;
    width: 300px;
    margin: 30px auto;
    border: 5px solid black;
    list-style: none;
    padding-left: 0;
}

li {
    border: 5px solid black;
    width: 90px;
    height: 90px;
    background-color: gray;
    cursor: pointer;
    list-style: none;
}

h1 {
    display: flex;
    justify-content: center;
    font-size: 60px;
}

li:hover{
    background-color: yellow;
}

.x {
    background-color: white;
}

.x::after {
    color: black;
    content: "x";
    line-height: 80px;
    font-size: 60px;
    margin-left: 28px;
}

.o {
    background-color: white;
}

.o::after {
    color: black;
    content: "o";
    line-height: 80px;
    font-size: 60px;
    margin-left: 28px;
}